<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" href="/view_style.css">
</head>

     <body>
     <script>
       var open=false;
       function openNav() {
         if(!open){
           document.getElementById("navbar").style.width = "250px";
           open=true;
         }else{
           open=false;
           closeNav();
         }
       }

       function closeNav() {
         open=false;
         document.getElementById("navbar").style.width = "0";
       }

     </script>

   <div id="navbar" class="sidenav">
     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
     <a href="/">Front page</a>
     {{#if session.registered}}
       <a href="/movies">Movies</a>
       <a href="/user/profile">Profile</a>
       {{#if session.admin}}
         <a href="/admin-page">Admin page</a>
       {{/if}}
     {{/if}}
     <a href="/contact">Contact</a>
     {{#if session.logged_in}}
       <a href="/logout">Logout</a>
     {{/if}}
   </div>
   <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Menu</span>
   {{#if session.message}}
    <h3>{{session.message}}<h3>
   {{/if}}
<h1>Manage users</h1>
  <ul>
  {{#each users}}

    <li>
      <form action="/admin-page/update" method="post">
        <input type="hidden" name="old_username" value={{this.username}}>
        Username: <input type="text" name="username" value={{this.username}}>
        <input type="submit" onclick="return confirm('Are you sure?')" value="Change username"/>
      </form>
      <form action="/admin-page/update" method="post">
        Role:
        <select name="role">
          <option value={{this.role}}>{{this.role}}</option>
          {{#equals this.role "admin"}}
            <option value="registered">Registered</option>
          {{/equals}}
          {{#equals this.role "registered"}}
            <option value="admin">Admin</option>
          {{/equals}}
        </select>
        <input type="submit" onclick="return confirm('Are you sure?')" value="Change role"/>
      </form>
      <form action="/admin-page/update" method="get">
        <input
          type="submit"
          onclick="return confirm('Are you sure?')"
          style="background:red;width:150px;height:35px;font-size:20px;"
          value="Delete user"/>
      </form>
    </li>
    <br>
    <br>
  {{/each}}
  </ul>
</body>
</html>
